.agent-tab-details-wrapper {
    width: 100%;
    padding: 20px 10px;
}

.award-tab-item-wrapper {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-width: 0 0 1px 0;
}
.award-tab-item-wrapper:first-child {
    font-weight: bold;
}
.award-tab-booking-code {
    width: 20%;
}
.award-tab-booking-time {
    width: 15%;
}
.award-tab-booking-amount {
    width: 20%;
}
.award-tab-points {
    width: 15%;
}
.award-tab-award-name {
    width: 30%;
    text-align: justify;
}

.leaderboard-tab-item-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
}
.leaderboard-tab-item-title {
    font-weight: 300;
    font-size: 16px;
    width: 35%;
}
.leaderboard-tab-item-value {
    font-weight: bold;
    font-size: 20px;
}
.tier-benefits-img {
    width: 100%;
}
.earn-more-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    height: 75px;
}
.earn-more-row-0 {
    font-weight: bold;
}
.earn-more-row-title {
    font-weight: bold;
    width: 25%;
    border: 1px solid lightgray;
    border-width: 0 1px 0 0;
    height: 100%;
    padding: 5px;
}
.earn-more-row-value {
    width: 25%;
    border: 1px solid lightgray;
    border-width: 0 1px 0 0;
    height: 100%;
    padding: 5px;
}
.earn-more-row-example {
    width: 50%;
    height: 100%;
    padding: 5px;
}
.redeem-item-wrapper {
    display: flex;
    align-items: center;
    min-height: 30px;
    margin: 5px;
    padding: 5px 10px;
}
.redeem-item-title {
    width: 60%;
    margin-right: 10px;
}
.redeem-item-required-points {
    width: 25%;
}
.redemption-item-title {
    width: 50%;
    margin-right: 10px;
}
.redemption-item-required-points {
    width: 20%;
}
.redemption-item-date {
    width: 30%;
}