.agent-profile-wrapper {
    padding: 5px;
}
.agent-profile-wrapper h3 {
    text-align: center;
}
.profile-single-item-wrapper {
    width: 100%;
    display: flex;
    font-size: 18px;
    margin-left: 20px;
}
.profile-single-item-title {
    min-width: 100px;
    width: 40%;
    font-weight: 300;
}
.profile-single-item-value {
    font-weight: bold;
}
.agent-profile-wrapper .MuiTab-root {
    display: flex !important;
    align-items: center;
    flex-direction: row-reverse !important;
}
.agent-profile-wrapper .MuiTab-root svg {
    margin: 0 6px;
    animation: bouncing-icon 1s infinite alternate;
}

@keyframes bouncing-icon {
    to {
        transform: translateY(-10px);
    }
}

